*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, html{
    height: 100%;
    width: 100%;
    background-color: #000;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width: 50%;
    height: 50%;
    background-color: #70798C;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.stopwatch{
    height: 90%;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.stopwatch-timer{
    height: 70%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
}
.stopwatch-controle{
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.btn-stopwatch-start{
    background-color: #86BA90;
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    margin: 0 0.5rem;
    font-size: 1.5rem;
    cursor: pointer;
}
.btn-stopwatch-stop{
    background-color: #A72608;
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    margin: 0 0.5rem;
    font-size: 1.5rem;
    cursor: pointer;
}
.btn-stopwatch-reset{
    background-color: #101D42;
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    margin: 0 0.5rem;
    font-size: 1.5rem;
    cursor: pointer;
}